@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin styleHeader {
    display: inline-block;
    border-bottom: 5px solid $color-primary;
    margin: $margin-small 0 $margin-medium 0;

    @media only screen and (max-width: $bp-medium) {
        margin-bottom: $margin-small;
    }

    @media only screen and (max-width: $bp-medium-lower) {
        margin-top: $margin-medium;
    }
}