$color-primary: #B28451; 
$color-secondary: #C69963;

$color-white: #fff;
$color-black: #000;

$bp-small: 31.25em; // 500px
$bp-medium-lower: 46.25em; // 740px
$bp-medium: 58em; // 928px
$bp-large: 65.625em; // 1050px
$bp-largest: 81.25em; // 1300px

$padding-largest: 40px;
$padding-large: 32px;
$padding-medium: 24px;
$padding-small: 16px;
$padding-smallest: 8px;

$margin-largest: 40px;
$margin-large: 32px;
$margin-medium: 24px;
$margin-small: 16px;
$margin-smallest: 8px;