.About {
  &__header {
    @include styleHeader;
  }

  &__container {
    display: flex;

    @media only screen and (max-width: $bp-medium-lower) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__group {
    display: flex;
  }

  &__topic {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    margin-right: 3rem;

    li {
      line-height: 1.75;
    }
    @media only screen and (max-width: $bp-largest) {
      font-size: 14px;
    }

    @media only screen and (max-width: $bp-medium-lower) {
      font-size: 13px;

      li {
        line-height: 1.85;
      }
    }
  }

  &__info {
    white-space: nowrap;
    margin-right: 3rem;

    @media only screen and (max-width: $bp-large) {
      line-height: 1.75;
    }
    @media only screen and (max-width: $bp-medium) {
      line-height: 1.85;
    }
    @media only screen and (max-width: $bp-small) {
      line-height: 1.95;
    }

  }

  &__line {
    height: 12rem;
    width: 10px;
    background-color: $color-primary;
    margin-left: 1rem;

    @media only screen and (max-width: $bp-largest) {
      height: 20rem;
    }

    @media only screen and (max-width: $bp-large) {
      height: 22rem;
    }

    @media only screen and (max-width: $bp-medium) {
      height: 26rem;
    }

    @media only screen and (max-width: $bp-medium-lower) {
      width: 50%;
      height: 2px;
      margin: 2rem 0;
    }
  }

  &__description {
    margin-left: 3.5rem;
  }
}
