.Blogs {
  &__header {
    @include styleHeader;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-gap: 6rem;

    @media only screen and (max-width: $bp-large) {
      grid-template-rows: 40vh;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-rows: 35vh;
    }

    @media only screen and (max-width: $bp-medium-lower) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__blog {
    &-title {
      cursor: pointer;
    }

    &-img {
      width: 100%;
      height: auto;
      object-fit: cover;
      cursor: pointer;
    }

    &-date {
      color: $color-primary;
      margin-bottom: $margin-small;

      @media only screen and (max-width: $bp-medium) {
        margin-bottom: $margin-smallest;
      }
    }

    &-info {
      @media only screen and (max-width: $bp-small) {
        font-size: 12px;
      }
    }

    &-category {
      display: inline-block;
      margin: 0 $margin-smallest $margin-smallest 0;
      color: $color-white;
      border-radius: 50px;
      padding: 0.5rem 1.5rem;
      background-color: $color-primary;

      @media only screen and (max-width: $bp-medium) {
        font-size: 10px;
      }
    }

    &-categories {
      margin-top: $margin-small;
    }

    &-container {
      margin: 1rem 0;
    }

    &-readMore {
      display: inline-block;
      color: $color-primary;
      font-weight: 400;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .element1 {
    display: flex;
    grid-column: 1 / -1;

    @media only screen and (max-width: $bp-medium-lower) {
      display: block;
      grid-column: 1 / 2;
    }
  }

  .container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    img {
      grid-column: 1/3;
      max-height: 100%;
      object-fit: contain;

      @media only screen and (max-width: $bp-medium-lower) {
        width: 100%;
        grid-column: none;
        height: auto;
        object-fit: cover;
        cursor: pointer;
      }
    }

    div {
      margin: 0 2.5rem;

      @media only screen and (max-width: $bp-medium-lower) {
        margin: auto;
      }
    }
  }
}
