.Header {
  display: flex;
  align-items: center;
  padding: 0 10rem 3rem 10rem;

  &__image {
    border-radius: 50%;
    object-fit: cover;
    max-width: 28rem;
    height: 28rem;
    background: $color-white;
    border: 12px solid $color-white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }

  &__description {
    margin-left: 6rem;

    &-position {
      color: $color-primary;
      margin-bottom: $margin-small;
    }
  }
}
  