.Projects {
    &__header {
        @include styleHeader;
    }
    
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 6rem;
    }

    &__project {
        height: 35rem;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        
        &-img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            transition: transform .3s ease-out;
        }
        
        &-description {
            color: $color-white;
            position: absolute;
            bottom: 2rem;
            left: 2rem;
            z-index: 3;
        }
        
        &:hover img {
            transform: scale(1.2);
        }
    }
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.55);
    z-index: 2;
}