.NotFound {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    &__number {
        line-height: 1;
        font-size: 8rem;
    }

    &__text {
        font-size: 4rem;
    }

    &__description {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    &__homepage {
        text-decoration: none;
        color: $color-primary;
        border: 2px solid $color-primary;
        padding: 1.5rem;
        transition: all .2s ease-out;
        
        &:hover {
            background-color: $color-primary;
            color: $color-white;
        }
    }
}